body{
    background-color: black;
}
@font-face {
    font-family: 'mario'; /*a name to be used later*/
    src: url('./gomarice_game_music_love.ttf'); /*URL to font*/
}
.content{
    font-family: 'mario';
    color:white;
    margin:0px;
    font-size: 20px;
}
.ui.header.hiddenWord{
    font-family: 'mario';
    font-size:55px;
}
.firstPage{
    margin:200px !important;
}
.ui.header.secondPageHeader{
    font-size: 75px;
    font-family: 'mario';
}
.ui.label.firstPageLabels{
    font-family: 'mario';
    font-size: 15px;
}
.ui.button[type=submit]{
    font-size:20px;
}
.ui.header.firstPageHeader{
    font-size: 175px;
    font-family: 'mario';
}
.images{
  margin-top:-100px;
  margin-bottom: 0px;
  width:400px;
}
#modal-header{
  font-size: 70px;
  font-family: 'mario';
}
#modal-content{
  margin-left: 10%;
  font-size:50px;
}
#modal-button{
  margin-left:30%;
}
.win-screen{
  margin-top:300px;
  font-family: 'mario';
  color:white;
  font-size: 70px;
}
