body{
    background-color: black;
}
.content{
    color:white;
    margin:100px;
}
.images{
    margin-top:-350px;
    margin-bottom: 0px;
    margin-left:700px;
    width:400px;
}
#modal-header{
  font-size: 70px;
}
#modal-content{
  margin-left: 10%;
  font-size:50px;
}
#modal-button{
  margin-left:15px;
}
